<form class="post-publish" {{action "publishPost" on="submit"}}>
  <div class="post-header">
    <h3>New Post:</h3>
    <button class="post-remove" {{action "closeForm" post}}>&#10007;</button>
  </div>
  <div class="post-input">
    {{input value=title placeholder="title"}}
  </div>
  <div class="post-input">
    {{textarea value=body placeholder="body"}}
  </div>
  <button class="post-button" type="submit">Publish</button>
</form>
