<div class="menu">
  {{main-nav isAuthenticated=session.isAuthenticated}}
  {{auth-form userName=session.currentUser.email logIn=(action "signIn") logOut=(action "signOut")}}
</div>

<div class="content">
  <h2>LOREM IPSUM DOLOR</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

  {{outlet}}

</div>
